/* style.css template */
@import 'reset.css';
@import 'header.css';
@import 'lato-font-face.css';
/* using the Google Fonts API violates the European GDPR */
/* better to store fonts locally on the website */
@font-face {
    font-family: adrip;
    src: url(../fonts/adrip1.woff2);
    font-weight: bold;
    font-display: block;
}
@font-face {
    font-family: typo;
    src: url(../fonts/typo.woff2);
    font-display: block;
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat-regular.woff2);
    font-display: block;
}

/* global - specificity = 0 */
* {
    /* temp outline to visualise box placement */
    /* outline: 1px dashed rgba(55, 52, 235, 0.623); */
}

:root {
    --header-height: 5rem;
    --header-footer-bg-col: rgb(7, 7, 7);
    --text-color: rgb(204, 204, 204);
    --main-bg-col: rgb(19, 19, 19);
    --h1-col: rgb(158, 40, 40);
    
}

html {
    font-size: 10px;
}

body {
    /* call fonts as early as possible to improve performance */
    font-family: montserrat, Verdana, system-ui, sans-serif;
    /* font-size: calc(1rem + 1.5vw); */
    color: var(--text-color);
    background-color: #181818;
}

h1 {
    font-family: adrip, system-ui, sans-serif;
    font-size: clamp(7rem, (1rem + 10vw), 10rem);
    font-weight: 100;
    color: var(--h1-col);
    text-align: center;
    margin-bottom: -25px;
    text-shadow: 3px 3px 5px #100a5791;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover,
a:focus {
    color: var(--h1-col);
    text-decoration: underline;
}
h2 {font-size: 2.8rem;}

button:hover {
    cursor: pointer;
}





.view {
    background-color: rgb(53, 52, 70);
    width: 100%;
    height: 200vh;
    /* display: flex;
    justify-content: center; */
}

#grid-container-1 {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 180px 700px;
}





/* dashboard */
#left-sidebar {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    background-color: var(--h1-col);
}
#dashboard {
    padding-top: 30px;
    padding-left: 20px;
}
#left-sidebar h2 {
    padding: 0px 0px 0px 10px;
    color: rgb(233, 233, 233);
}
#dashboard-svg {
    width: 45px;
    height: 45px;
    filter: invert(93%)
}
#left-sidebar a:hover,
#left-sidebar a:focus {
    color: white;
    outline: none;
}
.sidebar-element {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 20px 0px 0px 30px;
}
.sidebar-svg {
    width: 30px;
    height: 30px;
    filter: invert(80%);
}
.sidebar-element :nth-child(2) {
    padding-left: 15px;
}
.sidebar-gap {
    width: 100%;
    height: 100px;
}

/* top container */
#top-container {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.144);
    z-index: 1;
    color: black;
    width: 100%;
    height: 100%;
}
#top-wrapper {
    display: block;
    width: 100%;
    height: 100%;
}
.top-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40%;
}
#search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 70px;
    height: 100%;
}
#search-input {
    outline: 2px solid rgb(134, 134, 134);
    border-radius: 15px;
    margin-left: 10px;
    padding-left: 20px;
    width: 600px;
    height: 30px;
    font-size: 1.4rem;
    background-color: rgb(231, 231, 231);
}
#search-input:focus {
    outline: 3px solid rgb(133, 133, 133);
}

#alerts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}
#alerts-container > p {
    margin-right: 20px;
}
#cat-profile-top {
    width: 60px;
    height: auto;
}


.top-child:nth-child(2) {
    width: 100%;
    height: 60%;
    padding-bottom: 10px;
}

#top-welcome {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#cat-profile-top-big {
    width: 90px;
    height: auto;
    margin: 0px 25px 0px 40px;
}
#welcome-message :nth-child(1) {
    font-size: 1.6rem;
}
#welcome-message :nth-child(2) {
    font-size: 2.4rem;
}

#top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 100%;
    padding-right: 40px;
}
#top-buttons > button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    font-size: 1.6rem;
    background-color: var(--h1-col);
    color: white;
    border: 2px solid rgb(167, 167, 167);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.144);
}
.top-container-svg {
    width: 30px;
    height: 30px;
}




#main-container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: rgb(231, 231, 231);
}